header {
  background-color: bisque;
  height: 40vh;
  width: 100%;
}
body {
  margin: 0;
}

nav {
  background-color: crimson;
  height: 5vh;
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 10px;
  padding-left: 20px;
  justify-content: space-around;
  display: flex;
}
