.logo {
  justify-content: space-between;
  display: flex;
  padding: 20px;
}

.email {
  height: 25px;
  margin: 10px;
}

.padding {
  padding: 20px;
}

.text {
  text-decoration: none;
  font-weight: 300;
  color: white;
}

.margin {
  margin: 20px;
}
